pandas
numpy
scipy
scikit-learn
statsmodels
streamlit
openai
langchain-core
langchain-openai
langchain-groq
python-dotenv
pytest
pip-tools
flask
flask-cors
xgboost
matplotlib
gunicorn
groq
google-cloud-spanner
pypdf
langchain-text-splitters
langchain-google-vertexai
neo4j
langchain-neo4j
google-cloud-aiplatform
langchain-google-genai
langchain-community
tavily-python
langchain-tavily
psutil