pandas
numpy
scipy
scikit-learn
statsmodels
streamlit
openai
langchain
langchain-openai
python-dotenv
pytest
pip-tools
flask
flask-cors
xgboost
matplotlib
gunicorn
groq
google-cloud-spanner
langchain-google-spanner
pypdf
langchain-text-splitters
langchain-google-vertexai
google-cloud-aiplatform
langchain-google-genai
